@import "assets/fonts/Lato//lato.css";

:root {
  --header-background: #2d303a;
  --text-color: #767e9e;
  --accent-color: #ec605b;
  --heading-color: #666d89;
}

body {
  max-width: 1020px;
  margin: 0 auto;
  background: whitesmoke;
  font-family: "Lato";
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.section {
  display: flex;
  box-sizing: border-box;
  padding: 0 40px;
  color: #666d89;
  border-bottom: 6px solid;
}

.header {
  background: var(--header-background);
  height: 95px;
  color: white;
  flex-direction: row;
  align-items: center;
  border-bottom: 6px solid #323846;
  text-transform: uppercase;
}

header .logo {
  margin-top: -1px;
  color: white;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: -0.4px;
}

header .logo:after {
  content: "*";
  color: var(--accent-color);
}

header .logo:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.header__navigation {
  padding-top: 10px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.255px;
}

.header__navigation__item:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.header__navigation__item:not(:first-child)::before {
  content: "·";
  color: #4a4e5f;
  padding: 0 12.5px;
}

.slider {
  height: 600px;
  background-color: var(--accent-color);
  border-bottom: 15px solid #ea676b;
}
